<tr>
    <td>@Data.ProjectManager</td>
    <td>@Data.Client</td>
    <td>@Data.System</td>
    <td>@Data.ProjectTitle</td>
    <td>@Data.ProjectOF</td>
    <td>@Data.InitHours</td
    <td>@Data.Status</td>
    <td>@Data.Collaborator</td>
    <td>@Data.Department</td>
    <td>@Data.DayOfYear</td>
    <td>@Data.Week</td>
    <td>@Data.DaysBetweenEndDate</td>
    <td>@Data.DeliveryDate</td>
    <td>@($"{Data.HoursDedication}:{Data.MinutesDedication}")</td>
    <td>@Data.Task</td>
    <td>@Data.Description</td>
    <td>@Data.InvoiceNumber</td>
    <td>@Data.IncidenceId</td>
    <td>@Data.Closed</td>
    <td>@Data.Solution</td>
    <td>@Data.Observation</td>
</tr>